
/* BODY AND TEXT STYLING*/
body{
  display:grid;
  grid-template-columns: 15% 70% 15% ;
  grid-template-rows:100px;
  margin: 0px;
}

p{
  font-family: 'Crimson Text', serif;
  font-size: 16px;
}

h1, h2{
  font-family: 'Amiri', serif;
}

h1{
  font-size: 48px;
  margin: 50px 0px 20px 0px;
}

h2{
  font-size: 32px;
}

h3{
  font-family: 'News Cycle', sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin: 0px 0px 5px 0px;
}

h4{
  font-family: 'News Cycle', sans-serif;
  margin: 0px 0px 20px 0px;
}

.bold{
  font-weight: 700;
}
/* BODY AND TEXT STYLING END*/

/* FLEX SPECS */
.flex{
    display: flex;
}

.flex-start{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-space-between{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.direction-column{
  flex-direction: column;
}
/* FLEX SPECS END*/

/* HEADER*/

#header{
  grid-column: 1/4;
  grid-row: 1/2;
  background-color: #000000;
}

  /* Menu is items in the left of the header*/

#menu{
  margin-left: 30px;
}

#menu p{
  font-family: 'News Cycle', sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 18px;
}

  /* Style 'Democracy dies in Darkness'*/

  #slogan {
    font-family: 'Crimson Text', serif;
    font-style: italic;
    color: #DFDFDF;
    margin: 0px;
  }

    /* Signup is items in the right of the header*/

#signup{
  margin-right: 30px;
}

#signup p{
  font-family: 'News Cycle', sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
}

  /* Styling specific buttons*/

#search, #sections, #signin{
  border: 1px solid #444444;
  border-radius: 3px;
  background-color: #1F1F1F;
  margin-right: 30px;
}

#sections, #signin{
  padding: 0px 20px 0px 20px;
}

#search{
  height: 40px;
  width: 40px;
}

#sections{
  height: 40px;
  width:100px;
}

#signin{
  height: 40px;
  width:90px;
}

.tryit{
  border: 1px solid #3D73D5;
  border-radius: 3px;
  background-color: #1955A5;
  height: 40px;
  width:180px;
  font-family: 'News Cycle', sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
}

  /*  dollar is so the "try it for $1" can have text at a lower screen size currently hidden and pushed off to the side*/

#dollar{
  visibility: hidden;
  margin-right: -20px;
}

  /* Styling header icons*/

#search img{
  width: 20px;
}
#sections img{
  width: 20px;
}

#signin img{
  width: 20px;
}

#title img{
  width: 250px;
  margin-top: 0px;
}
/* HEADER END*/

/* ARTICLE CONTENT */

#article{
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: #ffffff;
}

.title-line{
  height:1px;
  background-color: #DFDFDF;
  margin: 10px 0px 10px 0px;
}


 /* ARTICLE CONTENT END */

/* AUTHOR SECTION */

.author{
  padding: 20px 0px 40px 0px;
}

.author p{
  font-family: 'News Cycle', sans-serif;
  margin: 0px 0px 0px 20px;
}
/* AUTHOR SECTION END */

/* CHARTS */

.source-line{
  height:1px;
  background-color: #1F1F1F;
  margin: 10px 0px 10px 0px;
}

.source{
  font-family: 'News Cycle', sans-serif;
  text-align: right;
}

#chart1{
  height: 700px;
}

#chart2{
  height: 500px;
}

#linegraph{
  height: 500px;
}

#post-graph img{
  width: 500px;
}

.larger-screen{
  visibility: hidden;
  overflow:hidden;
 }
/* CHARTS END */

/* COMMENTS */
.comments p{
  font-family: 'News Cycle', sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.comments img{
  margin-right: 15px;
}

.comments{
  height: 50px;
  width: 400px;
  border: 1px solid #444444;
  border-radius: 3px;
  margin: 30px 0px 30px 0px;
}

.comment-section h3{
  font-size: 30px;
}

.comment-section p{
  font-size: 20px;
}
/* COMMENTS END */

/* SUBSCRIBE */
.post-ad{
  height:200px;
  background-color: #DFDFDF;
  border-radius: 3px;
}

.post-ad h3{
  font-family: 'Amiri', serif;
  font-size: 30px;
}

.post-ad p{
  font-family: 'News Cycle', sans-serif;
  font-size: 18px;
}
/* SUBSCRIBE END*/

/* RECOMMENDED ARTICLES */
.recommend-dash{
  width: 40px;
  height: 5px;
  background-color: #1F1F1F;
  margin: 30px 0px 10px 0px;
}

.rec-article{
  display: grid;
  grid-template-columns: 1fr 200px;
}

.rec-article img{
  grid-column: 2/3;
  grid-row: 1/2;
  float: right;
  margin-top: 20px;
  width: 200px;
}

.rec-info{
  grid-column: 1/2;
  grid-row: 1/2;
}

.rec-article h3{
  font-family: 'Amiri', serif;
  font-size: 24px;
}

.timestamp{
  color:#767676;
  font-size: 16px;
}

.rec-article p{
  font-family: 'News Cycle', sans-serif;
  color:#444444;
  font-size: 20px;
}

/* RECOMMENDED ARTICLES END */

/* FOOTER */

.footer p{
  font-family: 'News Cycle', sans-serif;
  color:#444444;
  margin:0px;
}
.footer{
  margin-bottom: 30px;
}

#copyright{
  color:#1F1F1F;
  margin-bottom: 30px;
}
/* FOOTER END */

/* ARTICLE CONTENT END */


@media only screen and (max-width: 600px) {

  /* HEADER */

  .tryit{
    height: 40px;
    width:40px;
    overflow: hidden;
  }

    /* Tryit p being hidden and dollar being visible replaces the longer call to action with a shorter one for small screen sizes*/

  .tryit p{
    visibility: hidden;
    overflow: hidden;
  }

  #dollar{
    visibility: visible;
    padding-right: 30px;
    margin-right: 0px;
  }

    /* signin and sections img need padding to the right to be pushed into the center of the new button size. They need to be pushed because while the text is hidden, it still takes up some space*/
    #menu p{
      visibility: hidden;
      overflow: hidden;
    }

    #signin p{
      visibility: hidden;
      overflow: hidden;
    }

  #sections{
    height: 40px;
    width:40px;
  }

  #sections img{
    padding-right: 10px;
  }

  #signin{
    height: 40px;
    width:40px;
  }

  #signin img{
    padding-right: 10px;
  }

  #sections, #signin{
      padding: 0px;
    }

  /* specs to make the post logo and slogan smaller*/

  #title img{
    width: 150px;
    margin-top: 0px;
  }

  #slogan {
    font-size: 12px;
  }

  /* HEADER END */

  /* CHARTS */
  #post-graph img{
    width: 300px;
  }
  /* CHARTS END */

  /* ARTICLE CONTENT */
  .larger-screen{
     visibility: visible;
    }
  /* ARTICLE CONTENT END */

  /* POST-ARTICLE CONTENT*/
  .comments{
    height: 50px;
    width: 300px;
    border: 1px solid #444444;
    border-radius: 3px;
    margin: 30px 0px 30px 0px;
  }

  .rec-article h3{
    font-family: 'Amiri', serif;
    font-size: 16px;
  }

  .timestamp{
    color:#767676;
    font-size: 16px;
  }

  .rec-article p{
    font-family: 'News Cycle', sans-serif;
    color:#444444;
    font-size: 16px;
  }

  /* POST-ARTICLE CONTENT END*/

}
